.page {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #E9FBFF;
}

.header {
    height: 120px;
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.24px;
}

.content {
    padding-left: 34px;
    padding-right: 34px;
}

.mobile {
    -js-display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.mobileLeft {
    width: 29px;
    align-self: flex-end;
}

.mobileLeftIcon {
    width: 13px;
    height: 20px;
}

.mobileRight {
    flex-grow: 1;
    align-self: flex-end;
}

.mobileRightInput {
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.14px;
    width: 100%;
    background: #E9FBFF;
    height: 20px;
    margin-bottom: 5px;
}

.captcha {
    -js-display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.captchaLeft {
    width: 29px;
    align-self: flex-end;
    padding-bottom: 3px;
}

.captchaLeftIcon {
    width: 18px;
    height: 16px;
}

.captchaCenter {
    flex-grow: 1;
    align-self: flex-end;
}

.captchaCenterInput {
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.14px;
    width: 100%;
    background: #E9FBFF;
    height: 20px;
    margin-bottom: 5px;
}

.captchaRight {
    flex-grow: 1;
}

.submit {
    background: #9dd7e3;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.17px;
    text-align: center;
    line-height: 40px;
    margin-top: 24px;
}

.link {
    -js-display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 34px;
    margin-top: 5px;
}

.linkAgreementIcon {
    margin-right: 3px;
}

.linkAgreementText {
    font-family:PingFangSC-Light;
    font-size:8px;
    color:#212121;
    letter-spacing:0;
}

.linkRegisterText {
    font-family:PingFangSC-Light;
    font-size:8px;
    color:#58bfce;
    letter-spacing:0;
}

.linkPrivateText {
    font-family:PingFangSC-Light;
    font-size:8px;
    color:#58bfce;
    letter-spacing:0;
}

.password {
    -js-display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.passwordLeft {
    width: 29px;
    align-self: flex-end;
}

.passwordLeftIcon {
    width: 12px;
    height: 15px;
}

.passwordRight {
    flex-grow: 1;
    align-self: flex-end;
}

.passwordRightInput {
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.14px;
    width: 100%;
    background: #E9FBFF;
    height: 20px;
    margin-bottom: 5px;
}

.confirmPassword {
    -js-display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 34px;
    margin-top: 25px;
}

.confirmPasswordLeft {
    width: 29px;
    align-self: flex-end;
}

.confirmPasswordLeftIcon {
    width: 12px;
    height: 15px;
}

.confirmPasswordRight {
    flex-grow: 1;
    align-self: flex-end;
}

.confirmPasswordRightInput {
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.14px;
    width: 100%;
    background: #E9FBFF;
    height: 20px;
    margin-bottom: 5px;
}