.login-password-form-mobile {
    position: relative;
    height: 60px;
}

.login-password-form-mobile-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.login-password-form-mobile-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.login-password-form-mobile-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.login-password-form-password {
    position: relative;
    height: 35px;
}

.login-password-form-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.login-password-form-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.login-password-form-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.login-password-form-forget {
    float: right;
    color: #949494;
}

.login-password-form-text {
    height: 50px;
}

.login-password-form-quick {
    float: left;
    margin-top: 11px;
    color: #46bfda;
}

.login-password-form-register {
    float: right;
    margin-top: 11px;
    color: #46bfda;
}

.login-password-form-wechat {
    margin-top: 30px;
}

.forget-password-title {
    width: 100%;
    height: 37px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.forget-password-form-mobile {
    position: relative;
    height: 45px;
}

.forget-password-form-mobile-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-mobile-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-mobile-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.forget-password-form-captcha {
    position: relative;
    height: 50px;
}

.forget-password-form-captcha-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-captcha-input {
    position: absolute;
    top: 0px;
    left: 27px;
    width: 50%;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-captcha-line {
    position: absolute;
    top: 22px;
    left: 27px;
    width: 50%;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.forget-password-form-captcha-time {
    margin-left: 120px;
    color: #46bfda;
    z-index: 99;
}

.forget-password-form-password {
    position: relative;
    height: 55px;
}

.forget-password-form-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.forget-password-form-confirm-password {
    position: relative;
    height: 45px;
}

.forget-password-form-confirm-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-confirm-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-confirm-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}