.page {
	padding-bottom: 52px;
}

.header {
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
}

.headerLeft {
	width: 38px;
	padding-left: 12px;
}

.headerLeftImage {
	width: 28px;
	height: 28px;
	border-radius: 100%;
}

.headerCenter {
	flex-grow: 1;
}

.headerCenterName {
	font-family: PingFangSC-Light;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0.14px;
	text-align: left;
}

.headerCenterTime {
	font-family: PingFangSC-Light;
	font-size: 8px;
	color: #4a4a4a;
	letter-spacing: 0.1px;
	text-align: left;
}

.headerRight {
	width: 100px;
}

.line {
	background: #f6f6f6;
	width: 100%;
	height: 5px;
}

.content {
	padding: 12px 12px 0px 12px;
}

.contentImage {
	width: 100%;
	display: block;
	margin-bottom: 12px;
}

.footer {
	padding: 0px 12px 12px 12px;
}

.footerText {
	font-family: PingFangSC-Light;
	font-size: 12px;
	color: #2c2c2c;
	letter-spacing: 0.26px;
	line-height: 18px;
	padding: 0px 0px 10px 0px;
}

.footerInfo {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 10px;
}

.footerInfoLeft {
	flex-grow: 1;
	-js-display: flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footerInfoLeftLocationIcon {
	width: 13px;
	height: 17px;
}
.footerInfoLeftLocationTextLeft{
	display: inline-block;
	width: 0;
	height: 0;
	border-bottom:9px solid  transparent;
	border-left:9px solid transparent ;
	border-top: 9px solid transparent;
	border-right:9px solid black ;
	vertical-align: top;
	position: relative;

}
.footerInfoLeftLocationText {
	display: inline-block;
	font-family: PingFangSC-Light;
	font-size: 10px;
	letter-spacing: 0;
	background: #000000;
	width: 59px;
	height: 18px;
	overflow: hidden;
white-space: nowrap;
	text-overflow: ellipsis;
	-js-display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

.footerInfoRight {
	flex-grow: 1;
	text-align: right;
}

.footerInfoRightFrom {
	font-family: PingFangSC-Light;
	font-size: 9px;
	color: #000000;
	margin-top: -2px;
	padding: 5px 0px;
}

.footerInfoRightTag {
	font-family: PingFangSC-Light;
	font-size: 9px;
	color: #c18108;
	background: #DEFAFD;
	border-radius: 9px;
	margin-top: -2px;
	margin-left: 5px;
	margin-bottom: 8px;
	padding: 5px;
	white-space: nowrap;
	display: inline-block;
}

.footerCount {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.footerCountLeft {
	width: 40px;
	-js-display: flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footerCountLeftLikeIcon {
	width: 18px;
	height: 16px;
	margin-top: 2px;
}

.footerCountLeftLikeIconNumber {
	margin-left: 5px;
	display: inline-block;
}

.footerCountLeftLikeIconMember {

}

.footerCountLeftAvatarIcon {
	width: 19px;
	height: 19px;
	border-radius: 100%;
	margin-left: 5px;
}

.footerCountCenter {
	flex-grow: 1;
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.footerCountRight {
	width: 130px;
	-js-display: flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footerCountRightBookmark {
	width: 50px;
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerCountRightBookmarkIcon {
	width: 18px;
	height: 16px;
	margin-top: -1px;
}

.footerCountRightBookmarkNumber {
	margin-left: 6px;
}

.footerCountRightComment {
	width: 50px;
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerCountRightCommentIcon {
	width: 18px;
	height: 16px;
	margin-left: 20px;
}

.footerCountRightCommentNumber {
	margin-left: 6px;
}

.line2 {
	background: #f6f6f6;
	width: 100%;
	height: 10px;
}

.comment {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
}

.commentLeft {
	width: 40px;
}

.commentLeftImage {
	width: 28px;
	height: 28px;
	border-radius: 100%;
}

.commentRight {
	flex: 1;
	position: relative;
}

.commentRightLike {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	text-align: right;
}

.commentRightLikeContent {
	-js-display: flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.commentRightLikeIcon {
	width: 15px;
	margin-top: 1px;
}

.commentRightLikeText {
	font-family: PingFangSC-Regular;
	font-size: 10px;
	color: #aeaeae;
	letter-spacing: 0.12px;
	text-align: left;
	margin-left: 5px;
}

.commentRightName {
	font-family: PingFangSC-Regular;
	font-size: 10px;
	color: #8b8b8b;
	letter-spacing: 0.12px;
	text-align: left;
}

.commentRightTime {
	font-family: PingFangSC-Regular;
	font-size: 9px;
	color: #aeaeae;
	letter-spacing: 0.11px;
	text-align: left;
}

.commentRightContent {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #313131;
	margin-top: 5px;
	overflow: hidden;
	padding-bottom: 12px;
}

.commentRightContentWho {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #c18108;
	letter-spacing: 0.14px;
	text-align: left;
	margin-left: 3px;
	margin-right: 3px;
}

.feedback {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 640px;
	height: 53px;
	z-index: 999;
	background: #FFFFFF;
}

.feedbackContent {
	-js-display: flex;
	display: flex;
	flex-flow: row wrap;
}

.feedbackContentLeft {
	width: 50px;
	height: 53px;
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feedbackContentLeftImage {
	width: 28px;
	height: 28px;
}

.feedbackContentCenter {
	flex-grow: 1;
}

.feedbackContentCenterInput {
	width: 100%;
	height: 34px;
	line-height: 34px;
	margin-top: 8px;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	font-size: 12px;
}

.feedbackContentRight {
	width: 70px;
	height: 53px;
}

.feedbackContentRightSend {
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	width: 46px;
	height: 34px;
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8px;
	margin-left: 12px;
}