.topic-index-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(228, 228, 228, 0.50);
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #4a4a4a;
    text-align: center;
    z-index: 999;
}

.topic-index-header-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
}

.topic-index-header-left {
    position: absolute;
    left: 0;
    height: 44px;
}

.topic-index-header-left-user {
    margin-left: 15px;
    margin-top: 3px;
    width: 15px;
    height: 18px;
}

.topic-index-header-center {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 44px;
}

.topic-index-header-center-left {
    position: absolute;
    left: 0px;
    width: 50px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
}

.topic-index-header-center-right {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #c18108;
}

.topic-index-header-right {
    position: absolute;
    right: 0;
    height: 44px;
}

.topic-index-header-right-search {
    float: right;
    margin-right: 16px;
    margin-top: 7px;
}

.topic-index-content {
    margin-top: 44px;
}