.Search {
  height: 44px;
  background-color: #FFFFFF;
}
.SearchText {
  margin-top: 7px;
  margin-left: 12px;
  width: 80%;
  height: 31px;
  border-radius: 10px;
  background-color: #F1F1F3;
}
.SearchAction {
  margin-left: 15px;
  color: black;
  font-size: 14px;
}