.page{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.header{
    width: 100%;
    -js-display: flex;
    display: flex;
    align-items: center;
    height:165px ;
    z-index: 2;
}
.headerLeft{
    width: 100%;
    display: flex;
    -js-display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:19px ;
    margin-right: 13px;
    background: transparent;
    z-index: 3;
}
.headerImg{
    display: flex;
    -js-display: flex;
    align-items: center;
}
.headerBackground{
    position: absolute;
    width: 100%;
    height: 165px;
    overflow: hidden;
    z-index: 1;

}
.headerBackground>img{
    max-width: 640px;
}
.headerBackgroundImg{
    max-width: 640px;
}
.userPhoto{
    border-radius: 50%;
    border: 2px solid white;
    width: 56px;
    height: 56px;
}
.userName{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    margin-left: 11px;
}
.headerRight{
    width: 71px;
    height: 24px;
    background: #DEFAFD;
    border-radius: 16px;
    display: flex;
    -js-display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.rightLeft{
    display: inline-block;
    line-height: 21px;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    transform: scale(0.91);
}
.rightRight{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 1px solid #c18108;
    border-bottom: 1px solid #c18108;
    transform: rotate(-45deg);
    background: transparent;
}
.middle{
    display: flex;
    -js-display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 100%;
    height:40px ;
}
.middleLeft{
    width: 51%;
    height: 25.6px;
    border-right: 2.6px solid #D8D8D8;
    display: flex;
    -js-display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.middleLeft>div{
    display: flex;
    -js-display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
.leftIcon>img{
    width: 17px;
    height: 16px;
    margin-top: 2px;
}
.news{
    display: flex;
    -js-display: flex;
    flex-direction: column;
    margin-left: 6px;
    font-size: 11px;
    height: 19px;
    transform: scale(0.91);
}
.redSpot{
    width: 10px;
    height: 10px;
    margin-top:-9px;
    margin-left: 50px;
    border-radius: 50%;
    background: #F2473C ;
}
.middleRight{
    display: flex;
    -js-display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
}
.middleRight>div{
    display: flex;
    -js-display: flex;
    align-items: center;
    justify-content: center;
}
.rightIcon>img{
    width: 17px;
    height: 16px;
}
.middleBottom{
    width: 100%;
    height:6px ;
    background: #EEF6F7;
}
.newsList{
    width: 100%;
    overflow: hidden;
}
.listModule{
    display: flex;
    -js-display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.listModule>div{
    width: 45%;
    height: 38.8px;
    display: flex;
    -js-display: flex;
    align-items: center;
}
.listLeft{
    justify-content: flex-start;
    margin-left: 14px;
}
.listLeftIcon{
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}
.listCenter{
    margin-left: 10px;
    font-family: PingFangSC-Light;
    font-size: 13px;
    line-height: 17px;
}
.pictureFollow{
   line-height: 17px;
    width: 15px;
    height: 14px;
}
.pictureQrcode{
    line-height: 20px;
    width: 16px;
    height: 15px;
}
.listRight{
    margin-right: 12px;
    justify-content: flex-end;
}
.listRightIcon{
    width: 7px;
    height: 7px;
    transform: rotate(-45deg);
    border-right:1px solid #b7b7b7 ;
    border-bottom:1px solid #b7b7b7 ;
}
.getOut{
    display: flex;
    -js-display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 26px;
    position: absolute;
    max-width: 640px;
}
.getOut>div{
    width: 304px;
    text-align: center;
    line-height: 50px;
    font-family: PingFangSC-Light;
    font-size: 16px;
    margin-left: 9px;
    margin-right: 9px;
    height: 50px;
    background:#DEFAFD ;
    box-shadow: 0 2px 4px 0 rgba(216,216,216,0.50);
    border-radius: 5px;
}