.page{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.navigation{
    width: 100%;
    height:44px ;
    background: white;
    -js-display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:0 1px 1px 0 rgba(234,234,234,0.83);
}
.navigationList>div{
    font-size:14px ;
    font-family:PingFangSC-Regular;
    height: 20px;
    line-height: 20px;
}
.navigationList{
    display: flex;
    width: 100%;
    height: 44px;
    justify-content: space-around;
    margin-left: 8px;
    align-items: center;
}
.navList1{
    margin-left: 16px;
    color:#9b9b9b;
}
.navigationItem{
    color:#9b9b9b;
    font-size: 14px;
}
.nowState{
    margin-top: 8px;
    color: #c18108;
    border-bottom:2px solid  #c18108;
    padding-bottom: 5px;
}
.search>img{
    width: 18px;
    height: 18px;
    flex-shrink: 1;
    margin-right: 25px;
}
.list{
    margin-left: 13px;
    margin-right: 11px;
    margin-top: 10px;
    background: white;
    -js-display: flex;
    display:flex ;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.listContent{
    height: 95px;
    width: 100%;
    border-radius: 8px;
    box-shadow:0 2px 2px 0 rgba(209,209,209,1);
    border:0 solid #ededed;
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listLeft{
    -js-display: flex;
    display: flex;
    height:95px ;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    flex-shrink: 1;

}
.listCenter{
    margin-left: 11px;
    -js-display: flex;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: space-between;
    height: 68px;
    margin-right: 13px;
    width: 100%;
}
.tittles{
    font-family:PingFangSC-Regular;
    font-size:13px;
    color:#373737;
    letter-spacing:-0.41px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.times{
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#4a4a4a;
    letter-spacing:0.08px;
    line-height:19px;
    -js-display: flex;
    display: flex;
    justify-content: space-between;
    transform: scale(0.83);
    transform-origin: left;
}
.listRight{
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    padding-left: 12px;
    height: 69.5px;
    border-left: 1px solid  #dfdfdf;
    flex-shrink: 1;
}
.listRight>div>img{
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}