.page {
    padding-top: 46px;
}

.content {
    margin-left: 12px;
    margin-right: 12px;
}

.contentText{
    font-family:PingFangSC-Light;
    font-size:13px;
    color:#4a4a4a;
    letter-spacing:-0.4px;
    line-height:21px;
    text-align:center;
    padding-top: 14px;
}