.page {
max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}
.header{
 width: 100%;
}
.headerImg{
  width: 100%;
}
.headerBottom{
  height: 60px;
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerBottomLeft{
  -js-display: flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerBottomLeftFont{
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #000000;
  font-size: 12px;
  transform: scale(0.83);
  background:#DEFAFD ;
  border-radius: 2px;
  margin-left: 11px;
  white-space: nowrap;
  text-align: center;

}
.headerBottomCenter{
  margin-left: 7px;
}
.headerBottomCenterTop{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  letter-spacing: -0.4px;
  margin-bottom: 2px;
}
.headerBottomCenterBottom{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  letter-spacing: -0.4px;
}
.headerBottomRight{
  margin-right: 12px;
}
.headerBottomRightTop{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  transform: scale(0.83);
  transform-origin: right bottom;
}
.headerBottomRightBottom{
  font-family: PingFangSC-Regular;
  font-size: 20px;
  letter-spacing: -0.62px;
}
.middle{
  height:55px ;
  width: 100%;
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.middleLeft{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 12px;
  overflow: hidden;
}
.middleLeftImg{
  width: 32px;
  height: 32px;
}
.middleRight{
  margin-left: 20px;
  border: 1px solid #B59768;
  border-radius: 2px;
  line-height: 18px;
  white-space: nowrap;
  flex-shrink: 0;
}
.middleRight>div{
  display: inline-block;
}
.middleRightRight{
  width: 6px;
  height: 6px;
  margin-right: 2px;
  border-bottom: 1px solid #B59768;
  border-right:1px solid #B59768 ;
  transform:rotate(-45deg) ;
}
.middleBottom{
  width: 100%;

}
.middleBottomImg{
  width: 100%;
}
.introduce{
  margin-top: 15px;
  height: 123px;
  margin-bottom: 13.8px;
}
.introduceTop{
  border-left: 3px solid #B59768;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  padding-left: 8px;
  margin-left: 12px;
  margin-bottom: 9px;
}
.introduceBottom{
  font-family: PingFangSC-Light;
  font-size: 12px;
  padding-left:19px ;
}
.otherThink{
  height: 210px;
}
.otherThinkTop{
  -js-display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
.otherThinkTopLeft{
  border-left: 3px solid #B59768;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  padding-left: 8px;
  margin-left: 12px;
  margin-bottom: 9px;
}
.otherThinkTopRight{
  margin-right: 12px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #B59768;
  border-right:2px solid #B59768 ;
  transform:rotate(-45deg) ;
  margin-bottom: 9px;
}
.otherThinkBottom{
  white-space: nowrap;
  margin-left: 11px;
}

.otherThinkBottomList{
  height: 213px;
  width: 112px;
  -js-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: inline-block;
  margin: 0px 5px;
}
.otherThinkBottomListTop{
  width: 112px;
  height: 104px;
  border-radius: 5px;
}
.otherThinkBottomListCenter{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  transform: scale(0.75);
  transform-origin: left;
  overflow: hidden;
  height: 32px;
  white-space: normal;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
}
.otherThinkBottomListBottom{
  -js-display: flex;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.otherThinkBottomListBottomImg{
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.otherThinkBottomListBottomFont{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  transform: scale(0.75);
}
.detailsTop{
  width: 100%;

  padding-bottom:9.8px ;
}
.detailsTopImg{
  width: 100%;
}
.detailsList{
  margin: 0px 12px;
}
.detailsListTop{
  border-top: 1px  dotted  #A6A4A3;
}
.detailsList>div{
  width: 100%;
  height: 24px;
  border-bottom: 1px  dotted  #A6A4A3;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  letter-spacing: -0.7px;
  line-height: 24px;

}
.detailsListTopType{
  display: inline-block;
  width: 70px;
}
.detailsBottom{
  margin:8px 0px 24px ;
  width: 100%;
}
.detailsBottomImg{
  width: 100%;
}
.others{
  height: 202px;
  width: 100%;
}
.othersContentImg{
  background: #FFFFFF;
  box-shadow: 2px 2px 4px 0 rgba(211,211,211,0.50);
  width: 115px;
  height: 110px;
  border-radius: 5px;
}
.othersContentName{
  font-family: PingFangSC-Regular;
  font-size: 13px;
}
.footer{
  display: flex;
  -js-display: flex;
  justify-content: flex-start;
  height:48px ;
  width: 100%;
}
.footerLeft{
  width: 17.5%;
  display: flex;
  -js-display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerLeftImg{
width: 22px;
  height: 24px;
  border-radius: 2px;
}
.footerLeftImgStar{
  width: 17px;
  height: 17px;
}
.footerLeftBottom{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  transform: scale(0.83);

  letter-spacing: 0.29px;
}
.footerRight{
  width: 65%;
  background: #DEFAFD;
  box-shadow: 0 1px 2px 0 rgba(219,219,219,0.50);
  border-radius: 2px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  letter-spacing: 0.46px;
  text-align: center;
  line-height: 48px;
}
.otherThinkBottom>div{

}
