.page {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

.navbarPage {
    margin-top: 42px;
}

.tabbarPage {
    margin-bottom: 41px;
}

.topLine {
    position: relative;
}

.topLine:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #DFDFDF;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bottomLine {
    position: relative;
}

.bottomLine:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #DFDFDF;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

