@import '~antd-mobile/dist/antd-mobile.css';

body {
    font-family: "PingFangSC-Light", "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #ffffff;
}

div, form, img, ul, ol, li, dl, dt, dd, p, tr, td, body, strong, span, pre, input {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    border: 0px;
    max-width: 100%;
}

ul, li {
    list-style: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    outline: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    background-repeat: no-repeat;
}

a, area {
    blr: expression(this.onFocus=this.blur())
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #9b9b9b;
}

.am-list-item .am-input-label {
    font-size: 14px;
    color: #262626;
}

.am-list-item .am-input-control input {
    font-size: 12px;
    color: #8f8f8f;
}

.clear-both {
    clear: both
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    overflow: hidden;
}

.index-banner-image {
    width: 100%;
}

.swiper-mask {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper-text {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.swiper-pagination-bullet {
    background: #ffffff !important;
}

.swiper-pagination-bullet-active {
    background: #ffffff !important;
}

.am-tab-bar {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    z-index: 999999;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    z-index: 999;
}

.header-bottom {
    border-bottom: 1px solid #EAEAEA;
}

.header-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
}

.header-left {
    position: absolute;
    left: 0;
    height: 44px;
}

.header-left-language {
    margin-left: 16px;
    margin-top: 10px;
}

.header-left-forum-add {
    margin-left: 15px;
    margin-top: 10px;
    width: 26px;
    height: 26px;
}

.header-right-forum-search {
    float: right;
    margin-right: 16px;
    margin-top: 12px;
}

.header-center {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 44px;
}

.header-center-left {
    position: absolute;
    left: 0px;
    width: 50px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
}

.header-center-right {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
}

.header-center-logo {
    margin-top: 11px;
}

.header-right {
    position: absolute;
    right: 0;
    height: 44px;
}

.header-right-search {
    float: right;
    margin-right: 16px;
    margin-top: 10px;
}

.header-right-user {
    float: right;
    margin-right: 16px;
    margin-top: 10px;
}

.index-category {
    height: 90px;
    background: #ffffff;
    border-bottom: 1px solid #E8E8E8;
}

.index-category-item {
    width: 50px;
    text-align: center;
    padding: 15px 10px 10px 10px;
}

.index-category-item-text {
    font-size: 10px;
    margin-top: 7px;
}

.index-text-line {
    width: 100%;
    margin: 5px auto 0px;
    position: relative;
    text-align: center;
}

.index-text-line:before {
    content: "";
    border-top: 1px solid #515151;
    display: block;
    position: absolute;
    width: 9px;
    top: 9px;
    left: 0;
}

.index-text-line:after {
    content: "";
    border-top: 1px solid #515151;
    display: block;
    position: absolute;
    width: 9px;
    top: 9px;
    right: 0
}

.index-topic-top {
    padding: 16px;
}

.index-topic-top-title {
    float: left;
    width: 90px;
    font-size: 15px;
    margin-bottom: 15px;
}

.index-topic-top-item {
    position: relative;
    width: 100%;
}

.index-topic-top-item-image {
    width: 100%;
}

.index-topic-top-item-text {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

.index-topic-list {
    height: 180px;
    background: #F6F6F6;
    padding: 10px 16px;
}

.index-topic-list-content {
    background: #FFFFFF;
}

.index-topic-list-wrapper {
    height: 180px;
    background: #FFFFFF;
}

.index-topic-list-content-item {
    height: 50px;
    background: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
}

.index-topic-list-content-item-image {
    position: absolute;
    top: 8px;
    left: 8px;
}

.index-topic-list-content-item-text {
    position: absolute;
    top: 11px;
    left: 55px;
    right: 25px;
    height: 50px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #999999;
    line-height: 15px;
}

.index-topic-category {
    padding: 16px;
}

.index-topic-category-title {
    float: left;
    width: 90px;
    font-size: 15px;
    margin-bottom: 15px;
}

.index-topic-category-item {
    position: relative;
    width: 80px;
}

.index-topic-category-item-image {
    width: 75px;
    height: 75px;
}

.index-topic-category-item-text {
    position: absolute;
    width: 75px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
}

.index-topic-category-item-text-tag {
    margin-top: 2px;
    font-size: 9px;
}

.index-talent {
    padding: 16px;
    background: #F6F6F6;
}

.index-talent-title {
    float: left;
    width: 90px;
    font-size: 15px;
    margin-bottom: 15px;
}

.index-talent-item {
    position: relative;
    width: 120px;
}

.index-talent-item-content {
    width: 110px;
    height: 148px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    text-align: center;
}

.index-talent-item-content-image {
    width: 53px;
    height: 53px;
    margin-top: 17px;
}

.index-talent-item-content-name {
    font-size: 13px;
    margin-top: 11px;
}

.index-talent-item-content-tag {
    font-size: 9px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.index-talent-item-content-button {
    margin: 0 auto;
    width: 50px;
    height: 17px;
    line-height: 17px;
    border-radius: 31px;
    background: #47B8C0;
    font-size: 9px;
    color: #FFFFFF;
}

.index-topic-new {
    padding: 16px;
}

.index-topic-new-title {
    float: left;
    width: 90px;
    font-size: 15px;
    margin-bottom: 25px;
}

.index-topic-new-content-item {
    position: relative;
    margin-top: 15px;
    height: 105px;
    border-bottom: 1px solid #efefef;
}

.index-topic-new-content-item-title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100px;
    font-size: 16px;
    line-height: 22px;
}

.index-topic-new-content-item-summary {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 100px;
    font-size: 13px;
    line-height: 22px;
    color: #9A9A9A;
}

.index-topic-new-content-item-image {
    width: 76px;
    height: 76px;
    float: right;
}

.index-topic-new-video {
    margin-top: 19px;
    margin-bottom: 15px;
}

.index-topic-new-video-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.index-topic-new-video-summary {
    font-size: 13px;
    color: #9A9A9A;
}

.text-align-center {
    text-align: center;
}

.page-background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #E9FBFF;
}

.page {
    padding: 0px 40px 40px 40px;
}

.login-logo {
    width: 150px;
    height: 37px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.login-form {

}

.login-quick-form-mobile {
    position: relative;
    height: 45px;
}

.login-quick-form-mobile-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.login-quick-form-mobile-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.login-quick-form-mobile-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.login-quick-form-captcha {
    position: relative;
    height: 50px;
}

.login-quick-form-captcha-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.login-quick-form-captcha-input {
    position: absolute;
    top: 0px;
    left: 27px;
    width: 50%;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.login-quick-form-captcha-line {
    position: absolute;
    top: 22px;
    left: 27px;
    width: 50%;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.login-quick-form-captcha-time {
    margin-left: 120px;
    color: #46bfda;
    z-index: 99;
}

.login-quick-form-text {
    height: 50px;
}

.login-quick-form-password {
    float: left;
    margin-top: 11px;
    color: #46bfda;
}

.login-quick-form-register {
    float: right;
    margin-top: 11px;
    color: #46bfda;
}

.login-text-line {
    width: 200px;
    margin: 40px auto 0px;
    position: relative;
    text-align: center
}

.login-text-line:before {
    content: "";
    border-top: 1px solid rgba(221, 221, 221, 0.5);
    display: block;
    position: absolute;
    width: 73px;
    top: 6px;
    left: 0;
}

.login-text-line:after {
    content: "";
    border-top: 1px solid rgba(221, 221, 221, 0.5);
    display: block;
    position: absolute;
    width: 73px;
    top: 6px;
    right: 0
}

.login-quick-form-wechat {
    margin-top: 30px;
}

.form-button {
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    font-size: 14px;
    color: #FFFFFF;
}

.slideunlock-wrapper {
    position: relative;
    height: 60px;
}

.slideunlock-slider {
    position: relative;
    border-radius: 28px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgba(157, 215, 227, 0.5);
}

.slideunlock-slider.success {
    border: 3px solid #9DD7E3;
    height: 32px;
    line-height: 32px;
    background-color: #58BFCE;
    pointer-events: none;
    color: #FFFFFF;
}

.slideunlock-label {
    position: absolute;
    left: 0;
    top: -5px;
    z-index: 999;
    border-radius: 2px;
    cursor: pointer;
}

.slideunlock-slider.success .slideunlock-label {
    top: -7px;
}

.slideunlock-label-tip {
    z-index: 9;
}

.register-title {
    width: 100%;
    height: 37px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.login-password-form-mobile {
    position: relative;
    height: 60px;
}

.login-password-form-mobile-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.login-password-form-mobile-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.login-password-form-mobile-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.login-password-form-password {
    position: relative;
    height: 35px;
}

.login-password-form-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.login-password-form-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.login-password-form-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.login-password-form-forget {
    float: right;
    color: #949494;
}

.login-password-form-text {
    height: 50px;
}

.login-password-form-quick {
    float: left;
    margin-top: 11px;
    color: #46bfda;
}

.login-password-form-register {
    float: right;
    margin-top: 11px;
    color: #46bfda;
}

.login-password-form-wechat {
    margin-top: 30px;
}

.forget-password-title {
    width: 100%;
    height: 37px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.forget-password-form-mobile {
    position: relative;
    height: 45px;
}

.forget-password-form-mobile-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-mobile-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-mobile-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.forget-password-form-captcha {
    position: relative;
    height: 50px;
}

.forget-password-form-captcha-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-captcha-input {
    position: absolute;
    top: 0px;
    left: 27px;
    width: 50%;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-captcha-line {
    position: absolute;
    top: 22px;
    left: 27px;
    width: 50%;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.forget-password-form-captcha-time {
    margin-left: 120px;
    color: #46bfda;
    z-index: 99;
}

.forget-password-form-password {
    position: relative;
    height: 55px;
}

.forget-password-form-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.forget-password-form-confirm-password {
    position: relative;
    height: 45px;
}

.forget-password-form-confirm-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.forget-password-form-confirm-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.forget-password-form-confirm-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.register-title {
    width: 100%;
    height: 37px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.register-form-mobile {
    position: relative;
    height: 45px;
}

.register-form-mobile-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.register-form-mobile-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.register-form-mobile-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.register-form-captcha {
    position: relative;
    height: 50px;
}

.register-form-captcha-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.register-form-captcha-input {
    position: absolute;
    top: 0px;
    left: 27px;
    width: 50%;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.register-form-captcha-line {
    position: absolute;
    top: 22px;
    left: 27px;
    width: 50%;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.register-form-captcha-time {
    margin-left: 120px;
    color: #46bfda;
    z-index: 99;
}

.register-form-password {
    position: relative;
    height: 55px;
}

.register-form-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.register-form-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.register-form-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.register-form-confirm-password {
    position: relative;
    height: 45px;
}

.register-form-confirm-password-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

.register-form-confirm-password-input {
    position: absolute;
    top: 0px;
    left: 27px;
    right: 0px;
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    background: #E9FBFF;
}

.register-form-confirm-password-line {
    position: absolute;
    top: 22px;
    left: 27px;
    right: 0px;
    opacity: 0.5;
    border-bottom: 1px solid #DDDDDD;
}

.form-agreement {
    position: relative;
    margin-top: 15px;
    font-size: 8px;
}

.form-agreement-icon {
    position: absolute;
    top: -1px;
}

.form-agreement span {
    margin-left: 13px;
}

.form-agreement a {
    color: #58bfce;
}

.forum-my {
    margin-top: 44px;
}

.forum-my-header {
    position: relative;
    height: 40px;
}

.forum-my-header-icon {
    position: absolute;
    top: 13px;
    left: 16px;
}

.forum-my-header-text {
    position: absolute;
    top: 13px;
    left: 45px;
    font-size: 15px;
}

.forum-my-content {
    padding: 6px 16px 0px 16px;
    background: rgba(222, 250, 253, 0.4);
}

.forum-my-content-item {
    position: relative;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 10px;
}

.forum-my-content-item-icon {
    width: 77px;
    height: 77px;
}

.forum-my-content-item-title {
    position: absolute;
    top: 13px;
    left: 96px;
    right: 0px;
    font-size: 15px;
}

.forum-my-content-item-summary {
    position: absolute;
    top: 35px;
    left: 96px;
    right: 16px;
    color: #999999;
    line-height: 15px;
}

.forum-my-content-item-user-icon {
    position: absolute;
    top: 70px;
    left: 96px;
    width: 18px;
}

.forum-my-content-item-user-name {
    position: absolute;
    top: 78px;
    left: 115px;
    font-size: 10px;
    color: #515151;
}

.forum-my-content-item-topic {
    position: absolute;
    top: 78px;
    right: 16px;
    font-size: 10px;
    color: #515151;
}

.forum-my-content-item-topic-number {
    margin-left: 7px;
    color: #c18108;
}

.forum-my-content-item-top {
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 10px;
    color: #3097ac;
}

.forum-my-content-more {
    position: relative;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    height: 38px;
}

.forum-my-content-more-text {
    position: absolute;
    top: 13px;
    left: 0px;
    color: #c18108;
}

.forum-my-content-more-icon {
    position: absolute;
    top: 14px;
    right: 0px;
    width: 12px;
    height: 12px;
}

.forum-interested {
    padding-bottom: 10px;
    background: rgba(244, 245, 245, 0.35);
}

.forum-interested-header {
    position: relative;
    height: 40px;
}

.forum-interested-header-icon {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 20px;
    height: 20px;
}

.forum-interested-header-text {
    position: absolute;
    top: 15px;
    left: 45px;
    font-size: 15px;
}

.forum-interested-content {
    width: 100%;
    overflow: hidden;
}

.forum-interested-content-item {
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.swiper-slide-active, .swiper-slide-duplicate-active {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.none-effect {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.forum-hot-header {
    padding-left: 12px;
    font-size: 10px;
    color: #c18108;
}

.forum-hot-content-item-header {
    position: relative;
    padding: 10px 12px;
}

.forum-hot-content-item-header-icon {
    width: 28px;
    height: 28px;
}

.forum-hot-content-item-header-name {
    position: absolute;
    top: 12px;
    left: 45px;
    color: #2c2c2c;
}

.forum-hot-content-item-header-time {
    position: absolute;
    top: 28px;
    left: 45px;
    font-size: 8px;
    color: #4a4a4a;
}

.forum-hot-content-item-footer {
    position: relative;
    margin: 0px 12px;
    border-top: 1px solid rgba(216, 216, 216, 0.6);
}

.form-hot-content-item-footer-tag {
    position: absolute;
    top: 9px;
    left: 0px;
    right: 150px;
    font-size: 9px;
}

.form-hot-content-item-footer-tag-from {
    float: left;
    margin-top: 5px;
    padding: 5px 0px;
}

.form-hot-content-item-footer-tag-text {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    color: #c18108;
    border-radius: 10px;
    background: #DEFAFD;
}

.form-hot-content-item-footer-like-icon {
    position: absolute;
    top: 17px;
    right: 119px;
    width: 18px;
    height: 16px;
}

.form-hot-content-item-footer-like-number {
    position: absolute;
    top: 18px;
    right: 101px;
}

.form-hot-content-item-footer-favorite-icon {
    position: absolute;
    top: 14px;
    right: 78px;
    width: 18px;
    height: 18px;
}

.form-hot-content-item-footer-favorite-number {
    position: absolute;
    top: 18px;
    right: 53px;
}

.form-hot-content-item-footer-comment-icon {
    position: absolute;
    top: 15px;
    right: 18px;
    width: 18px;
    height: 18px;
}

.forum-skip-skip {
    position: absolute;
    top: 13px;
    right: 18px;
    color: #58bfce;
}

.forum-skip-title {
    margin-top: 46px;
    font-size: 18px;
    color: #585858;
    text-align: center;
}

.forum-skip-summary {
    margin-top: 15px;
    font-size: 12px;
    color: #585858;
    text-align: center;
}

.forum-skip-list {
    margin-top: 30px;
    padding: 0px 32px;
}

.forum-skip-list-item {
    position: relative;
    margin-top: 20px;
    height: 59px;
    border-bottom: 1px solid rgba(222, 222, 222, 0.5);
}

.forum-skip-list-item-image {
    width: 36px;
    height: 36px;
}

.forum-skip-list-item-title {
    position: absolute;
    top: 1px;
    left: 43px;
    font-size: 13px;
    color: #3c3c3c;
}

.forum-skip-list-item-summary {
    position: absolute;
    top: 22px;
    left: 43px;
    font-size: 11px;
    color: #6f6f6f;
}

.forum-skip-list-item-check {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 15px;
    height: 15px;
}

.forum-skip-submit {
    position: absolute;
    left: 50%;
    margin-left: -47px;
    margin-top: 50px;
    width: 94px;
    height: 36px;
    font-size: 14px;
    color: #c18108;
    background: #defafd;
    box-shadow: 0 2px 4px 0 rgba(233, 233, 233, 0.50);
    border-radius: 25px;
    text-align: center;
    line-height: 36px;
}

.forum-add-header {
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(228, 228, 228, 0.50);
    height: 44px;
    font-size: 16px;
    color: #4a4a4a;
    text-align: center;
    line-height: 44px;
}

.forum-add-upload {
    position: relative;
    height: 71px;
    line-height: 71px;
    font-size: 14px;
    color: #262626;
    padding-left: 12px;
}

.forum-add-upload-icon {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 57px;
    height: 57px;
}

.forum-add-space {
    background: #defafd;
    height: 10px;
}

.forum-add-submit {
    background: #defafd;
    box-shadow: 0 2px 4px 0 rgba(216, 216, 216, 0.50);
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    margin: 150px 12px 0px 12px;
    text-align: center;
}