.page {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}
.homePageHeaderTopBackground>span{
	font-family:PingFangSC-Regular;
	font-size:12px;
	transform: scale(0.85);
	transform-origin: left;
	color:#ffffff;
	letter-spacing:0;
	text-shadow:0 1px 2px rgba(0,0,0,0.50);
	position: absolute;
	padding-left: 11px;
	margin-top: 96px;
}
.homePageHeaderTopBackgroundImg{
	position: absolute;
	top:87px;
	left: calc(50% - 29px);
	width:58px;
	height:58px;
}
.homePageHeaderMessageLeft img{
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.homePageHeaderMessageLeft{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: black;
}
.messages>dl{
margin-top: 8px;
	margin-left: 12px;
	width: 100%;
	-fs-display:flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.homePageHeaderMessageRightTop{
	font-family:PingFangSC-Light;
	font-size:12px;
	color:#323232;
}
.homePageHeaderMessageRightBottom{
	font-family:PingFangSC-Light;
	font-size:12px;
	transform: scale(0.75);
	transform-origin: left;
	color:#9b9b9b;
}
.header {
	position: fixed;
	top: 0;
	height: 45px;
	z-index: 99;
	width: 100%;
	max-width: 640px;
	background: #defafd;
}
.headerContent {
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #4a4a4a;
}

.headerContentLeft {
	flex-grow: 1;
	margin: 0px 12px 0px 12px;
}

.headerContentLeftSearch {
	background: #ffffff;
	border-radius: 86px;
	width: 100%;
	height: 28px;
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.headerContentLeftSearchLeft {
	width: 40px;
	height: 28px;
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.headerContentLeftSearchRight {
	flex-grow: 1;
}
.headerContentLeftSearchRightInput {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0;
	width: 91%;
	height: 20px;
}
.headerContentLeftSearchLeftIcon {
	width: 18px;
	height: 18px;
}
.headerContentRight {
	width: 32px;
}
.headerContentRightClose {
	width: 15px;
	height: 15px;
	margin-top: 7px;
}
.homePageHeaderTopBackground{
	position: relative;
	top:-120px;
}
.homePageHeaderMiddleMessage{
	height:95px ;
	width: 100%;
}
.homePageHeaderIcon{
	margin: 0 auto;
	position: absolute;
	top: 133px;
	left: calc(50% - 30px);
	width: 58px;
	height: 58px;
	border: 1px solid #FFFFFF;
	z-index: 1;
	background: url("../../image/avatar-demo.png") no-repeat;
	background-size:100% 100%;
}

.homePageHeaderMessages{
	position: absolute;
	margin-top: -10px;

}

.homePageHeaderMessageRight {
	margin-left: 10px;
}
.nullDiv{
	width: 100%;
	height: 8px;
	background: rgba(222, 250, 253, 0.40);
	margin-top: 48px;
	z-index: 99;
}
