.page {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	padding-top: 46px;
}

.header {
	position: fixed;
	top: 0;
	height: 45px;
	z-index: 99;
	width: 100%;
	max-width: 640px;
	background: #defafd;
}

.headerContent {
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #4a4a4a;
}

.headerContentLeft {
	flex-grow: 1;
	margin: 0px 12px 0px 12px;
}

.headerContentLeftSearch {
	background: #ffffff;
	border-radius: 86px;
	width: 100%;
	height: 28px;
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.headerContentLeftSearchLeft {
	width: 40px;
	height: 28px;
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.headerContentLeftSearchRight {
	flex-grow: 1;
}
.headerContentLeftSearchRightInput {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0;
	width: 91%;
	height: 20px;
}
.headerContentLeftSearchLeftIcon {
	width: 18px;
	height: 18px;
}
.headerContentRight {
	width: 32px;
}
.headerContentRightClose {
	width: 15px;
	height: 15px;
	margin-top: 7px;
}
.homePageHeaderTopBackground{
	top:0px;
	background: #9dd7e3;
	height:117px;
	background: url("../../image/banner.png") no-repeat;
	background-size:100% 100%;
}
.homePageHeaderMiddleMessage{
	height:130px ;
	width: 100%;
}
.homePageHeaderIco{
	margin: 0 auto;
	position: absolute;
	top: 133px;
	left: calc(50% - 30px);
	width: 58px;
	height: 58px;
	border: 1px solid #FFFFFF;
	z-index: 1;
	background: url("../../image/avatar-demo.png") no-repeat;
	background-size:100% 100%;
}
.homePageHeaderMessageLeft {
	height: 2rem;
	width: 2rem;
	border-radius: 2rem;
	float: left;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-box-lines: single;
	-moz-box-lines: single;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	box-sizing: border-box;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #9b9b9b;
	margin-left: 20px;
	margin-top: 17px;
}
.homePageHeaderMessages{
	position: absolute;
	margin-top: -10px;

}
.homePageHeaderMessageLeft img{
	height: 2rem;
	width: 2rem;
	border-radius: 2rem;
	display: block;
}
.homePageHeaderMessageRight {
	margin-top: 15px;
	float: left;
	margin-left: 10px;
}
.nullDiv{
	width: 100%;
	height: 8px;
	background: rgba(222, 250, 253, 0.40);
	margin-top: 48px;
	z-index: 99;
}
