.forum-homepage-wrapper-background {
    position: relative;
}

.forum-homepage-wrapper-avatar {
    position: absolute;
    bottom: -29px;
    left: 50%;
    margin-left: -29px;
    width: 58px;
    height: 58px;
    border: 1px solid #FFFFFF;
}

.forum-homepage-wrapper-name {
    margin-top: 40px;
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: #323232;
    text-align: center;
}

.forum-homepage-wrapper-summary {
    margin-top: 10px;
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #323232;
    text-align: center;
}

.forum-homepage-wrapper-join {
    position: absolute;
    margin-top: 13px;
    left: 50%;
    margin-left: -39px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #c18108;
    background: #defafd;
    box-shadow: 0 2px 4px 0 rgba(195, 195, 195, 0.50);
    border-radius: 20px;
    width: 78px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.forum-homepage-wrapper-moderator {
    position: relative;
    margin: 51px 12px 0px 12px;
    border-top: 1px solid rgba(221, 221, 221, 0.50);
    height: 52px;
}

.forum-homepage-wrapper-moderator-left {
    float: left;
    width: 40px;
}

.forum-homepage-wrapper-moderator-left-avatar {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 32px;
    height: 32px;
}

.forum-homepage-wrapper-moderator-left-crown {
    position: absolute;
    top: 6px;
    left: 11px;
    width: 10px;
    height: 6px;
}

.forum-homepage-wrapper-moderator-right {
    margin-left: 40px;
    padding-top: 15px;
}

.forum-homepage-wrapper-moderator-right-name {
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #323232;
}

.forum-homepage-wrapper-moderator-right-summary {
    margin-top: 3px;
    font-family: PingFangSC-Light;
    font-size: 9px;
    color: #9b9b9b;
}

.forum-homepage-wrapper-space {
    background: #defafd;
    height: 10px;
}

