.page {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	padding-top: 45px;
}

.header {
	position: fixed;
	top: 0;
	height: 45px;
	z-index: 99;
	width: 100%;
	max-width: 600px;
	background: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(228, 228, 228, 0.50);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#DFDFDF', Direction=180, Strength=1);
}

.headerContent {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.headerContentLeft {
	width: 100px;
}

.headerContentLeftAdd {
	margin-left: 8px;
	margin-top: 13px;
	width: 26px;
	height: 26px;
}

.headerContentCenter {
	margin-top: 7px;
	flex-grow: 1;
	text-align: center;
}

.headerContentCenterForum {
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #c18108;
	letter-spacing: 0;
	margin-right: 13px;
}

.headerContentCenterTopic {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #a3a3a3;
	letter-spacing: 0;
	margin-left: 13px;
}

.headerContentRight {
	margin-right: 18px;
	width: 100px;
	text-align: right;
}

.headerContentLeftSearch {
	margin-top: 12px;
	width: 18px;
	height: 18px;
}

.join {

}

.joinHeader {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 41px;
}

.joinHeaderLeft {
	width: 40px;
	text-align: center;
}

.joinHeaderLeftIcon {
	width: 22px;
	height: 16px;
	margin-top: 5px;
}

.joinHeaderCenter {
	flex-grow: 1;
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #515151;
	letter-spacing: 0;
}

.joinContent {
	background: rgba(222, 250, 253, 0.40);
	padding: 12px 12px 8px 12px;
}

.joinContentList {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	border-radius: 8px;
	height: 107px;
}

.joinContentListLeft {
	-js-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 103px;
}

.joinContentListLeftIcon {
	background: #e68c8c;
	border-radius: 4px;
	width: 77px;
	height: 77px;
}

.joinContentListCenter {
	flex-grow: 1;
	align-self: flex-start;
	width: 0;
}

.joinContentListCenterHeader {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.joinContentListCenterHeaderName {
	flex-grow: 1;
	width: 0;
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #515151;
	letter-spacing: 0;
	margin-top: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.joinContentListCenterHeaderTop {
	width: 32px;
	font-family: PingFangSC-Light;
	font-size: 10px;
	color: #3097ac;
	letter-spacing: 0;
	margin-top: 10px;
}

.joinContentListCenterSummary {
	font-family: PingFangSC-Light;
	font-size: 12px;
	color: #999999;
	letter-spacing: 0.1px;
	line-height: 14px;
	margin-top: 7px;
}

.joinContentListCenterFooter {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
}

.joinContentListCenterFooterLeft {
	position: relative;
	width: 21px;
}

.joinContentListCenterFooterLeftCrown {
	position: absolute;
	top: -6px;
	left: 2px;
	width: 10px;
	height: 6px;
	border-radius: 100%;
	margin-top: 3px;
}

.joinContentListCenterFooterLeftAvatar {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin-top: 3px;
}

.joinContentListCenterFooterCenter {
	flex-grow: 1;
	font-family: PingFangSC-Light;
	font-size: 10px;
	color: #515151;
	letter-spacing: 0;
}

.joinContentListCenterFooterRight {
	width: 98px;
	font-family: PingFangSC-Light;
	font-size: 10px;
	color: #515151;
	letter-spacing: 0;
}

.joinContentListCenterFooterRightNumber {
	font-family: PingFangSC-Light;
	font-size: 10px;
	color: #c18108;
	letter-spacing: 0;
	margin-left: 5px;
}

.joinContentMore {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	font-family: PingFangSC-Light;
	font-size: 12px;
	color: #c18108;
	letter-spacing: 0.1px;
}

.joinContentMoreIcon {
	width: 12px;
	height: 12px;
	margin-left: 5px;
}

.interest {
	background: rgba(244, 245, 245, 0.35);
}

.interestHeader {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 41px;
}

.interestHeaderLeft {
	width: 40px;
	text-align: center;
}

.interestHeaderLeftIcon {
	width: 22px;
	height: 16px;
	margin-top: 5px;
}

.interestHeaderCenter {
	flex-grow: 1;
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #515151;
	letter-spacing: 0;
}

.interestContent {
	padding: 12px 0px;
}

.interestContentwrapper {
	height: 50px;

}

.interestContentwrapperList {
	background: #ffffff;
	box-shadow: 0 -2px 4px 0 rgba(220, 220, 220, 0.50);
	border-radius: 2px;
	width: 232px;
}