.forum-index-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(228, 228, 228, 0.50);
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #4a4a4a;
    text-align: center;
    z-index: 999;
}

.forum-index-header-mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
}

.forum-index-header-left {
    position: absolute;
    left: 0;
    height: 44px;
}

.forum-index-header-left-add {
    margin-left: 15px;
    margin-top: 8px;
    width: 26px;
    height: 26px;
}

.forum-index-header-center {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 44px;
}

.forum-index-header-center-left {
    position: absolute;
    left: 0px;
    width: 50px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #c18108;
}

.forum-index-header-center-right {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
}

.forum-index-header-right {
    position: absolute;
    right: 0;
    height: 44px;
}

.forum-index-header-right-search {
    float: right;
    margin-right: 16px;
    margin-top: 7px;
}

.forum-index-my {
    margin-top: 44px;
}

.forum-index-my-header {
    position: relative;
    height: 40px;
}

.forum-index-my-header-icon {
    position: absolute;
    top: 13px;
    left: 16px;
}

.forum-index-my-header-text {
    position: absolute;
    top: 13px;
    left: 45px;
    font-size: 15px;
}

.forum-index-my-content {
    padding: 6px 16px 0px 16px;
    background: rgba(222, 250, 253, 0.4);
}

.forum-index-my-content-item {
    position: relative;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 10px;
}

.forum-index-my-content-item-icon {
    width: 77px;
    height: 77px;
}

.forum-index-my-content-item-title {
    position: absolute;
    top: 13px;
    left: 96px;
    right: 0px;
    font-size: 15px;
}

.forum-index-my-content-item-summary {
    position: absolute;
    top: 35px;
    left: 96px;
    right: 16px;
    color: #999999;
    line-height: 15px;
}

.forum-index-my-content-item-user-icon {
    position: absolute;
    top: 70px;
    left: 96px;
    width: 18px;
}

.forum-index-my-content-item-user-name {
    position: absolute;
    top: 78px;
    left: 115px;
    font-size: 10px;
    color: #515151;
}

.forum-index-my-content-item-topic {
    position: absolute;
    top: 78px;
    right: 16px;
    font-size: 10px;
    color: #515151;
}

.forum-index-my-content-item-topic-number {
    margin-left: 7px;
    color: #c18108;
}

.forum-index-my-content-item-top {
    position: absolute;
    top: 13px;
    right: 16px;
    font-size: 10px;
    color: #3097ac;
}

.forum-index-my-content-more {
    position: relative;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    height: 38px;
}

.forum-index-my-content-more-text {
    position: absolute;
    top: 13px;
    left: 0px;
    color: #c18108;
}

.forum-index-my-content-more-icon {
    position: absolute;
    top: 14px;
    right: 0px;
    width: 12px;
    height: 12px;
}

.forum-index-interested {
    padding-bottom: 10px;
    background: rgba(244, 245, 245, 0.35);
}

.forum-index-interested-header {
    position: relative;
    height: 40px;
}

.forum-index-interested-header-icon {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 20px;
    height: 20px;
}

.forum-index-interested-header-text {
    position: absolute;
    top: 15px;
    left: 45px;
    font-size: 15px;
}

.forum-index-interested-content {
    width: 100%;
    overflow: hidden;
}

.forum-index-interested-content-item {
    -webkit-transition: transform 1.0s;
    -moz-transition: transform 1.0s;
    -ms-transition: transform 1.0s;
    -o-transition: transform 1.0s;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.swiper-slide-active, .swiper-slide-duplicate-active {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.none-effect {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.forum-index-hot-header {
    padding-left: 12px;
    font-size: 10px;
    color: #c18108;
}

.forum-index-hot-content-item-header {
    position: relative;
    padding: 10px 12px;
}

.forum-index-hot-content-item-header-icon {
    width: 28px;
    height: 28px;
}

.forum-index-hot-content-item-header-name {
    position: absolute;
    top: 12px;
    left: 45px;
    color: #2c2c2c;
}

.forum-index-hot-content-item-header-time {
    position: absolute;
    top: 28px;
    left: 45px;
    font-size: 8px;
    color: #4a4a4a;
}

.forum-index-hot-content-item-footer {
    position: relative;
    margin: 0px 12px;
    border-top: 1px solid rgba(216, 216, 216, 0.6);
}

.forum-index-hot-content-item-footer-tag {
    position: absolute;
    top: 9px;
    left: 0px;
    right: 150px;
    font-size: 9px;
}

.forum-index-hot-content-item-footer-tag-from {
    float: left;
    margin-top: 5px;
    padding: 5px 0px;
}

.forum-index-hot-content-item-footer-tag-text {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    color: #c18108;
    border-radius: 10px;
    background: #DEFAFD;
}

.forum-index-hot-content-item-footer-like-icon {
    position: absolute;
    top: 17px;
    right: 119px;
    width: 18px;
    height: 16px;
}

.forum-index-hot-content-item-footer-like-number {
    position: absolute;
    top: 18px;
    right: 101px;
}

.forum-index-hot-content-item-footer-favorite-icon {
    position: absolute;
    top: 14px;
    right: 78px;
    width: 18px;
    height: 18px;
}

.forum-index-hot-content-item-footer-favorite-number {
    position: absolute;
    top: 18px;
    right: 53px;
}

.forum-index-hot-content-item-footer-comment-icon {
    position: absolute;
    top: 15px;
    right: 18px;
    width: 18px;
    height: 18px;
}