.page {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(222, 250, 253, 0.40);
}

.join {

}

.header {
	-js-display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	height: 41px;
}

.headerLeft {
	width: 40px;
	text-align: center;
}

.headerLeftIcon {
	width: 22px;
	height: 16px;
	margin-top: 5px;
}

.headerCenter {
	flex-grow: 1;
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #515151;
	letter-spacing: 0;
}

.content {
	padding: 12px 12px 8px 12px;
}